body {
    background-color: black;
    margin: 0;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.butonstarttest {
    display: flex;
    color: green;
}

footer {
    display: flex;
    justify-content: center;
}

main {
    padding: 50px;
    flex: 1;
}

.container_Q3 {
display: flex;
flex-direction: row;
gap: 100px;
}

.reponses {
    margin-top: 50px;
}